@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  background-color: #fefcfa;
}

.leftSide {
  width: 50%;
  text-align: center;
}

.heading {
  color: #c8102e;
  width: 381px;
  font-family: 'IBM Plex Sans', cursive;
  font-size: 48px;
  margin: 40px 0px 0px 140px;
}

.rightSide {
  width: 50%;
  margin-top: 40px;
}
.activityTypeImage{
  margin-right: 20px;
}
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
  margin-left: 20px;
}

[type=radio]:checked + img {
  outline: 2px solid black;
}

.button {
  width: 70%;
  display: flex;
  justify-content: center;
}

.btnAdd {
  background-image: linear-gradient(to right, #C8102E 0%, #fefcfa 51%, #C8102E 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-family: 'IBM Plex Sans', cursive;
  font-weight: bold !important;
  font-size: 16px;
  border: 1px solid #C8102E !important
}

.btnAdd:hover {
  background-position: right center;
  color: black;
  text-decoration: none;
}

.lottie-svg-class {
  height: calc(max(300px, 35vw)) !important;
}

.form-control {
  resize: none !important;
  flex: none !important;
  width: 495px !important;
  background: transparent !important;
}

.headingList {
  color: #c8102e;
  font-family: 'IBM Plex Sans', cursive;
  font-size: 45px;
}

.activityList {
background-color: #fefcfa;
}

.cardsList {
  display: flex;
  justify-content: center;
  position: fixed;
  flex-wrap: wrap;
  left: 50%;
  top: 50%;
  margin: 30px 0 35px 0;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border:3px solid #C8102E;
  width: 1200px;
  background-color: #fefcfa;
  height: 550px;
  align-items: center;
  justify-content: center;
  overflow-x:hidden;
  overflow-y:auto
}
.card-body{
  background-color: #C8102E !important;
  color: #fefcfa !important;
  text-align: center
}
.card {
  background-color: #FEFCFA !important;
  border: #C8102E 2px solid !important;
  margin:5px 0 10px 30px !important;
}
.buttonUpdate{
  background: transparent !important;
  border: none !important;
}
.list-group-item {
  background-color: #FEFCFA!important;
  border: none !important;
  color: black;
  font-family: 'IBM Plex Sans', cursive !important;
  font-size: 16px !important;
  font-weight: 800 !important;
}
.labelModal{
  display: flex;
  justify-content: center;
}
.inputModal{
  margin-top: 10px;
  margin-left: 40px;
}